body{
  margin: 0;
  padding: 0;
}

#map {
  width: 100vw;
  height: 100vh; 
}

.popup-content {
  background-color: #fff;
  padding: 5px;
  max-width: 200px;
}

.popup-content h3 {
  font-size: 18px;
  margin: 0;
  text-align: center;
}

.popup-content .info-row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-content .label {
  font-weight: bold;
}

.popup-content .value {
  flex-grow: 1;
  text-align: right;
}
